body{
	background:#f4f4f4;
}

/* Navbar */

.navbar{
	min-height:33px !important;
	margin-bottom: 0;
	background: #4d51ce;
	border-radius: 0;
}

 .navbar-nav > li > a, .navbar-brand{
	padding: 6px !important;
	padding-bottom:0 !important;
	height:33px;
}
.navbar .navbar-brand {
  color: #ecf0f1;
  padding-top:0 !important;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #acb1ee;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-text a {
  color: #acb1ee;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #acb1ee; 
}
.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #acb1ee;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #acb1ee;
  background-color: #2c3d80;
  border-radius: 8px;
}
.navbar .navbar-toggle {
  border-color: #2c3d80;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #2c3d80;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #acb1ee;
}

/* Custom */
#main .main-color-bg{
	background:#4d51ce;
	color:#ffffff!important;
}

/* Header */

#header{
	background: #333333;
	color:#ffffff;
	padding-bottom: 10px;
	margin-bottom:15px;
}

#header .create{
	padding-top: 15px;
}
/* Breadcrumb */

.breadcrumb{
	background:#cccccc;
	color:#333333;
}

.breadcrumb li a{
	color:#333333;
	padding:6px;
	text-decoration:none;
}

/* Footer */

#footer{
	background:#333333;
	color:#ffffff;
	text-align: center;
	padding:30px;
	margin-top:30px;
}

#main #login{
	margin-top:20px;
}

#styleSelect{
	width:200px;
}
.container #dropdown {
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}

#myCarousel .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
}